In [1]:
import sqlite3  # SQLite3 라이브러리 로딩
#SQLite3 모듈의 버전
print(sqlite3.version)
#SQLite의 버전
print(sqlite3.sqlite_version)

2.6.0
3.39.3

In [1]:
import sqlite3  # SQLite3 라이브러리 로딩
# 테이블 생성
def create():
    conn = sqlite3.connect('books.db')  # 데이터베이스 생성, 접속
    cursor = conn.cursor()  # 커서 생성
    # my_books 테이블 생성
    #제목, 출판일자, 출판사, 페이지수, 추천여부
    cursor.execute('''create table if not exists  books (
                        title text,
                        publish_date text,
                        publisher text,
                        pages integer,
                        recommend integer
                       )'''   )
    conn.close()        # DB접속 종료
create()

In [6]:
import sqlite3
# 데이터 입력 함수
def insert():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    # 데이터 입력
    cursor.execute("insert into books values('Java','2022-02-28','길벗',500,10)")
    # 데이터 입력 SQL
    sql='insert into books values(?,?,?,?,?)'
    # 튜플을 이용한 데이터 입력
    cursor.execute(sql,('Python','2022-03-04','한빛',584,20))
    # 책의 정보를 담고 있는 튜플들의 리스트
    items=[
        ('빅데이터', '2021-07-02','삼성', 296, 11),
        ('안드로이드', '2021-02-10','영진', 526, 20),
        ('Spring', '2021-12-12','에이콘', 248, 15)
    ]
    cursor.executemany(sql, items) # 여러 데이터 입력
    conn.commit() # 레코드 변경 사항 확정
    conn.close()
insert()

In [7]:
import sqlite3

def list():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    cursor.execute('select * from books')
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()
list()

def update():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    # 데이터 수정 SQL
    sql='update books set recommend=? where title=?'
    # 수정 SQL 실행
    cursor.execute(sql, (100, 'Java'))
    conn.commit()
    conn.close()

update()
list()

('Java', '2022-02-28', '길벗', 500, 10)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)
('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)

In [8]:
def delete():
    conn=sqlite3.connect('books.db')
    cursor=conn.cursor()
    sql="delete from books where publisher='삼성'"
    cursor.execute(sql)
    conn.commit()
    conn.close()

list()
delete()
print('='*50)
list()

('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)
==================================================
('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에이콘', 248, 15)