In [1]:
from keras.datasets import mnist
# 학습용과 검증용 분리
(X_train, y_train), (X_test, y_test) = mnist.load_data()
# 데이터 전처리
# 28x28 => 784로 변환
#X_train = X_train.reshape(60000, 784).astype('float32')
#X_test = X_test.reshape(10000, 784).astype('float32')
#정규화
X_train = X_train.reshape(60000, 784).astype('float32') / 255.0
X_test = X_test.reshape(10000, 784).astype('float32') / 255.0
print(y_train[:5])

[5 0 4 1 9]

In [2]:
X_train[0][::50]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.27450982, 0.        , 0.        ,
       0.        , 0.98039216, 0.99215686, 0.8862745 , 0.        ,
       0.        ], dtype=float32)

In [7]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)
print("학습용:",model.score(X_train, y_train))
print("검증용:",model.score(X_test, y_test))

학습용: 1.0
검증용: 0.8779

In [8]:
#모형 저장
import pickle
pickle.dump(model, open('c:/data/mnist/mnist_tree.model','wb'))

In [9]:
# 모형 불러오기
model = pickle.load(open('c:/data/mnist/mnist_tree.model','rb'))
# 모형 사용
pred = model.predict(X_test[:10])
print('예측값:',pred[:10])
print('실제값:',y_test[:10])

예측값: [7 2 1 0 4 1 4 0 6 9]
실제값: [7 2 1 0 4 1 4 9 5 9]

In [10]:
#confusion matrix(혼동행렬, 오분류표) 출력
from sklearn.metrics import confusion_matrix
import pandas as pd
pred=model.predict(X_test)
cm=confusion_matrix(y_test, pred)
df_cm=pd.DataFrame(cm, index=range(10), columns=range(10))
df_cm

     0     1    2    3    4    5    6    7    8    9
0  915     0    4    8    5   11   14    4    8   11
1    0  1090    8   11    1    6    8    1    9    1
2   15     7  879   33   14    9   11   24   30   10
3   11     5   29  865    7   37    4    9   23   20
4    5     2    7    5  865    8   15   11   21   43
5   13     7    3   50    6  751   23    6   21   12
6   16     3   15   10   22   20  841    2   25    4
7    2    12   26   13    6    6    4  929    9   21
8   10     7   29   41   17   27   16   10  788   29
9   14     2   11   20   41    8    9   20   28  856

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.91      0.93      0.92       980
           1       0.96      0.96      0.96      1135
           2       0.87      0.85      0.86      1032
           3       0.82      0.86      0.84      1010
           4       0.88      0.88      0.88       982
           5       0.85      0.84      0.85       892
           6       0.89      0.88      0.88       958
           7       0.91      0.90      0.91      1028
           8       0.82      0.81      0.81       974
           9       0.85      0.85      0.85      1009

    accuracy                           0.88     10000
   macro avg       0.88      0.88      0.88     10000
weighted avg       0.88      0.88      0.88     10000