In [1]:
from keras.datasets import mnist
# 학습용과 검증용 분리
(X_train, y_train), (X_test, y_test) = mnist.load_data()
# 데이터 전처리
# 28x28 => 784로 변환
#X_train = X_train.reshape(60000, 784).astype('float32')
#X_test = X_test.reshape(10000, 784).astype('float32')
#정규화
X_train = X_train.reshape(60000, 784).astype('float32') / 255.0
X_test = X_test.reshape(10000, 784).astype('float32') / 255.0
print(y_train[:5])

[5 0 4 1 9]

In [2]:
X_train[0][::50]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.27450982, 0.        , 0.        ,
       0.        , 0.98039216, 0.99215686, 0.8862745 , 0.        ,
       0.        ], dtype=float32)

In [3]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100,random_state=0)
forest.fit(X_train, y_train)
print("학습용:",forest.score(X_train, y_train))
print("검증용:",forest.score(X_test, y_test))

학습용: 1.0
검증용: 0.9705

In [4]:
#모형 저장
import pickle
pickle.dump(forest, open('c:/data/mnist/mnist_rf.model','wb'))

In [5]:
# 모형 불러오기
model = pickle.load(open('c:/data/mnist/mnist_rf.model','rb'))
# 모형 사용
pred = model.predict(X_test[:10])
print('예측값:',pred[:10])
print('실제값:',y_test[:10])

예측값: [7 2 1 0 4 1 4 9 5 9]
실제값: [7 2 1 0 4 1 4 9 5 9]

In [6]:
#confusion matrix(혼동행렬, 오분류표) 출력
from sklearn.metrics import confusion_matrix
import pandas as pd
pred=model.predict(X_test)
cm=confusion_matrix(y_test, pred)
df_cm=pd.DataFrame(cm, index=range(10), columns=range(10))
df_cm

     0     1    2    3    4    5    6    7    8    9
0  969     0    0    0    0    2    5    1    3    0
1    0  1124    2    3    0    2    2    1    1    0
2    5     0  999    7    2    0    3    9    7    0
3    1     0   10  971    0   10    0    8    8    2
4    1     0    1    0  958    0    6    0    2   14
5    3     0    0   11    0  862    8    2    4    2
6    6     3    0    0    3    4  939    0    3    0
7    1     3   20    1    0    0    0  989    3   11
8    5     0    5    6    4    9    4    4  928    9
9    8     5    1    9    8    3    1    4    4  966

In [7]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       980
           1       0.99      0.99      0.99      1135
           2       0.96      0.97      0.97      1032
           3       0.96      0.96      0.96      1010
           4       0.98      0.98      0.98       982
           5       0.97      0.97      0.97       892
           6       0.97      0.98      0.98       958
           7       0.97      0.96      0.97      1028
           8       0.96      0.95      0.96       974
           9       0.96      0.96      0.96      1009

    accuracy                           0.97     10000
   macro avg       0.97      0.97      0.97     10000
weighted avg       0.97      0.97      0.97     10000